/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/* -------------Variables */
:root{
--green-color:#7ACC2D;
--white-color:white;
--black-color:#313337;
/* Tipografía */
--normal:12px;
/* Espaciado */
--space:10px;
/* Box shadow */
--box:0px 0 2px 1px #e6e5e9;
}

/* -------------Variables */
html,body{
  padding:0px;
  margin:0px;
  font-size: var(--normal);
  font-family: 'Open Sans', sans-serif;
}


nav{
  display: flex; /*Elementos separados uno del otro*/
  background-color: var(--green-color);
  padding: var(--space);
  color: var(--white-color);
  justify-content: space-between;
  align-items: center;
}

nav ul{
  display: flex;
}

nav li{
  padding-left: 20px;
  list-style: none;

}

nav li a{
  color: var(--black-color);
  text-decoration: none;
}

nav li a:hover{
  color: var(--white-color);
}

/* ------------------------ Main section */

.main_section{
  padding: 15%;
  text-align: center;
}

.products{
  background-image: url("../images/curve.png");
  max-height: 50px;
  background-size: cover; /*Que la imagen cubra todo el contenedor*/
  background-position: center top;
  padding:20%;
  display: flex;
}

.product{
  padding: var(--space);
  margin-top: -240px;
}
.product .content{
  background-color: var(--white-color);
  padding: var(--space);
  box-shadow: var(--box);
}
.img_content{
  text-align: center;
}

.main_button{
  background-color: var(--green-color);
  width: 100%;
  padding: var(--space);
  font-size: var(--normal);
  color: var(--white-color);
  border:0;
  cursor: pointer;
  border-radius: 2px;
}

.main_button:hover{
  background-color: #5e9e22;
}

.seccion2{
  display: flex;
  justify-content: space-between;
  padding: 10%;
  text-align: center;
}

.otrosproductos{
  padding: var(--space);
  background-color: var(--white-color);
}

.ultimaseccion{
  text-align: center;
}
/*Seccion 3*/
.seccion3{
  display: flex;
  background-color: var(--white-color);
  justify-content: center;
  flex-wrap: wrap;
  padding: var(--space);
}
/*modifique las box y el margin*/
.menciones{ 
  max-width: 400px; 
  box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75);
  -webkit-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 30px -4px rgba(0,0,0,0.75);
  margin:100px 10px; /*hay que ver como hacer para que el margin entre los box ea menos*/
} 

.imagen_mencion{
  width: 100%;
  height: auto;
  display: block;
  
}

.imagen_content{
  background-color: var(--white-color);
  padding: 15px;
  box-shadow: var(--box);
  text-align: left;
}

/* ------------------------ Footer */
footer{
  background-color: #313337;
}
.footer_contenido{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px 10px;
  font-size: 15px;
}
.foot_der, .foot_izq{
  color: white;
}






